body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:281px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:112px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:112px;
  display:flex;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(251, 250, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体 Regular', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#2E2E2E;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:32px;
  width:77px;
  height:29px;
  display:flex;
  font-family:'黑体 Bold', '黑体 Regular', '黑体', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#2E2E2E;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:58px;
  height:5px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:58px;
  width:55px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.423876911763961deg);
  -moz-transform:rotate(-0.423876911763961deg);
  -ms-transform:rotate(-0.423876911763961deg);
  transform:rotate(-0.423876911763961deg);
  font-size:100px;
  color:#00D999;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:477px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:281px;
  height:477px;
  display:flex;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:158px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:461px;
  width:281px;
  height:158px;
  display:flex;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:110px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:511px;
  width:281px;
  height:110px;
  display:flex;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:507px;
  width:34px;
  height:34px;
  display:flex;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:507px;
  width:281px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u276 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:32px;
  width:38px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u277 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:29px;
  width:50px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u278 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:121px;
  width:256px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u279 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:340px;
  width:269px;
  height:106px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u280 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:307px;
  width:87px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u281 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:27px;
  width:37px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u282 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:590px;
  width:38px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
